/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --text-primary: #13131A;
  --text-secondary: #6B6B6B;
  --text-error: #d90000;
  --bg-primary: #FFFFFF;
  --bg-secondary: #13131A;
  --bg-tertiary: #6B6B6B;

  --headings-font: "Syne", sans-serif;
  --body-font: "Inter", sans-serif;

  color: var(--text-primary);
  font-family: var(--body-font);
}

button {
  width: 100%;
  margin-top: 1.7em;
  font-weight: 200;
  font-size: 0.9em;
  text-align: center;
  padding: 0.7em 1em;
  color: var(--text-secondary);
  border-radius: 8px;
  box-shadow: 2px 4px 10px 0px #cdcdcd;
}

button:hover {
  background-color: var(--bg-tertiary);
  color: white;
}