#calendar {
  max-width: 80%;
  margin: 3em auto;
}

.fc-button {
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
  #calendar {
    max-width: 90%;
    margin: 1em auto;
    height: 60vh;
  }

  .fc .fc-toolbar {
    flex-direction: column;
    gap: 0.5em;
  }

  .fc-toolbar-chunk {
    width: 100%;
  }
}