.profile-container {
  display: flex;
  margin: 1em;
}

.profile-card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 25%;
}

.profile-picture {
  border-radius: 50%;
  /* width: 200px; */
  max-width: 100%;
  aspect-ratio: 1 /1;
  /* height: 200px; */
  object-fit: cover;
}

#display-name {
  font-family: var(--headings-font);
  font-weight: 700;
  font-size: 1.8em;
  margin-top: 1em;
}

#username {
  color: var(--text-secondary);
}

.edit-profile-btn {
  padding: 0.4em 1em;
  color: var(--text-secondary);
}

.modal-close-btn {
  color: var(--text-primary);
  margin-top: 0.5em;
}

.modal-btn {
  background-color: var(--bg-secondary);
  border-radius: 8px;
  width: 47%;
  padding: 0.7em 1em;
  color: white;
}

.modal-btn:hover {
  background-color: var(--text-secondary);
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.input-name {
  border-bottom: 1px solid var(--text-secondary);
  padding: 0.3em 0.5em;
  width: 100%;
}

.projects-container {
  margin: 0.5em 2em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-cards-container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.new-project-btn {
  padding: 0.7em 1em;
}

/* iPhone: portrait */
/* only screen and */
/* and (min-device-width: 196px) */
/* and (-webkit-min-device-pixel-ratio: 2) */
@media only screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-picture {
    max-width: 50%;
  }

  .profile-card {
    max-width: 90%;
    margin-top: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-profile-btn {
    width: 100%;
    padding: 0.7em 1em;
  }

  .projects-container {
    width: 90%;
    margin-top: 1em;
    padding: 0;
  }

  .new-project-btn {
    margin: 0;
  }
}

/* iPad: portrait */
/* and (-webkit-min-device-pixel-ratio: 1) */
@media only screen and (min-width: 768px) {
  .profile-container {
    margin: 0.5em;
  }

  .new-project-btn {
    margin-top: 0.7em;
  }

  .profile-card {
    min-width: 30%;
  }
}

/* and (-webkit-min-device-pixel-ratio: 1) */
@media only screen and (min-width: 1000px) {
  .profile-picture {
    width: 252px;
    align-self: center;
  }
}