.project-container {
  display: flex;
  flex-direction: column;
  margin: 2em 3em;
}

.project-description-container {
  display: flex;
}

.project-photo {
  min-width: 40%;
  max-width: 60%;
  max-height: 80vh;
  object-fit: contain;
}

.project-photo:hover {
  cursor: pointer;
}

.title-p {
  white-space: pre-line;
}

.title-description-container {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  flex-grow: 1;
}

.project-title-btn-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.project-page-title {
  flex-grow: 1;
  font-family: var(--headings-font);
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.edit-project-btn {
  margin-top: 0;
  margin-left: 0.5em;
  box-shadow: none;
  width: auto;
}

.editable-title {
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
  padding: 0.3em 0.5em;
}

.editable-description {
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
  flex-grow: 1;
  padding: 0.3em 0.5em;
  margin-bottom: 0.7em;
}

.create-entry-btn {
  padding: 0.5em 0.7em;
  margin-top: 3em;
}

.project-back-btn {
  margin-bottom: 0.5em;
}

.project-back-btn:hover {
  text-decoration: underline;
}

.input-new-description {
  width: 100%;
  height: 30vh;
  padding: 0.3em 0.5em;
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
}

.edit-project-submit-btn {
  margin: 0;
  padding: 0.5em 1em;
  min-width: 15%;
  max-width: 30%;
  background-color: var(--bg-secondary);
  color: white;
  border-radius: 5px;
}

.edit-project-submit-btn:hover {
  background-color: var(--text-secondary);
}

.delete-project-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.delete-project-btn {
  box-shadow: none;
  width: auto;
  color: var(--text-error);
}

.delete-project-btn:hover {
  text-decoration: underline;
}

.delete-btn:hover {
  background-color: var(--text-error);
}

.project-upload-submit-container {
  display: flex;
  justify-content: space-between;
}

.skeleton-project-title {
  width: 100%;
  margin-left: 1em;
  height: 50px;
}

.skeleton-project-description {
  width: 100%;
  margin-left: 1em;
}

.skeleton-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skeleton-photo {
  height: 600px;
}

.switch-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#report-project {
  width: 100%;
  margin-top: 1em;
  height: 20vh;
  padding: 0.3em 0.5em;
  border: 1px solid var(--bg-secondary);
}

.cancel-btn {
  background-color: rgb(76, 76, 76);
}

@media only screen and (max-width: 768px) {
  .project-description-container {
    flex-direction: column;
  }

  .project-photo {
    min-width: 100%;
    width: 100%;
  }

  .title-description-container {
    margin-left: 0;
    margin-top: 1em;
  }

  .project-container {
    margin: 1em 2em;
  }

  .skeleton-project-title {
    margin-left: 0;
    margin-top: 1em;
  }

  .skeleton-project-description {
    margin-left: 0;
  }

  .skeleton-photo {
    margin-top: 2em;
    height: 40vh;
  }
}