.project-card-container {
  width: 48%;
}

.project-img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  height: 280px;
}

.project-title {
  font-weight: 600;
  margin-top: 0.5em;
}

.project-title:hover {
  text-decoration: underline;
}

/* iphone: portrait */
/* and (min-device-width: 196px) and  */
@media only screen and (max-width: 885px) {
  .project-card-container {
    width: 100%;
  }
}

/* iPad: portrait */
/* @media only screen and (min-device-width: 768px) and (max-device-width: 885px) {
  .project-card-container {
    width: 100%;
  }
} */