.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
}

.title {
  font-family: var(--headings-font);
  font-size: 2em;
  font-weight: 600;
}

.subtitle {
  color: var(--text-secondary);
  font-weight: 200;
  margin-top: 0.5em;
}

.login-input {
  margin-top: 1.6em;
  font-weight: 200;
  font-size: 0.9em;
  text-align: center;
  padding: 0.7em 1em;
  border-radius: 8px;
  box-shadow: 2px 4px 10px 0px #cdcdcd;
}

.login-button {
  margin-top: 1.7em;
  font-weight: 200;
  font-size: 0.9em;
  text-align: center;
  padding: 0.7em 1em;
  background-color: var(--bg-secondary);
  color: white;
  border-radius: 8px;
  box-shadow: 2px 4px 10px 0px #cdcdcd;
}

.signup-link {
  margin-top: 2em;
  font-size: 0.7em;
  font-weight: 200;
}

.signup-link:hover {
  text-decoration: underline;
}