.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
}

.title {
  font-family: var(--headings-font);
  font-size: 2em;
  font-weight: 600;
}

.subtitle {
  color: var(--text-secondary);
  font-weight: 200;
  margin-top: 0.5em;
}

.input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.signup-input {
  margin-top: 1.6em;
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
  padding: 0.7em 1em;
  border-radius: 8px;
  box-shadow: 2px 4px 10px 0px #cdcdcd;
}

.signup-button {
  width: 100%;
  margin-top: 1.7em;
  font-weight: 200;
  font-size: 0.9em;
  text-align: center;
  padding: 0.7em 1em;
  background-color: var(--bg-secondary);
  color: white;
  border-radius: 8px;
  box-shadow: 2px 4px 10px 0px #cdcdcd;
}

.signup-button:hover {
  background-color: var(--bg-tertiary);
}

.login-link {
  margin-top: 2em;
  font-size: 0.7em;
  font-weight: 200;
}

.login-link:hover {
  text-decoration: underline;
}

.email-input {
  width: 100%;
}

.input-half {
  width: 48%;
}

.error-message {
  color: var(--text-error);
  font-size: 0.7em;
  margin-top: 1em;
}

@media only screen and (max-width: 448px) and (-webkit-min-device-pixel-ratio: 2) {
  .input-group {
    flex-direction: column;
  }

  .input-half {
    width: 100%;
  }

  .signup-container {
    width: 80%;
  }
}